body {
  font-family: 'Red Hat Text', sans-serif;
}

:root {
  --color-blue-500: #304FFE;
  --color-blue-400: #406FFC;
  --color-blue-000: #EDF2FF;
  --color-red-500: #DA1E28;
  --color-red-100: #FCCFD2;
  --color-red-000: #FFEBEC;
  --color-cyam-800: #002B50;
}

.button {
  display: inline-block;
  text-decoration: none;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  background-color: var(--color-blue-500);
  border-radius: 100px;
  padding: 8px 50px;
  font-size: 20px;
  font-weight: 700;
}
