.button {
    display: inline-block;
    text-decoration: none;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    background-color: var(--color-blue-500);
    border-radius: 100px;
    padding: 12px 70px;
    font-size: 18px;
    font-weight: 500;
  }
  
  .button--disabled {
    background-color: rgba(48, 79, 254, 0.6);
    cursor: not-allowed;
  }
  
 