.spacer-bottom-s {
  margin-bottom: 16px;
}

.spacer-bottom-m {
  margin-bottom: 32px;
}

.spacer-bottom-l {
  margin-bottom: 48px;
}

.spacer-bottom-xl {
  margin-bottom: 64px;
}

.spacer-bottom-xxl {
  margin-bottom: 72px;
}